In [6]:
import os
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
from dotenv import load_dotenv

load_dotenv()

True

In [7]:
def get_engine():
    url = URL.create(
        drivername="postgresql+psycopg2",
        host=os.getenv("DB_HOST"),
        port=os.getenv("DB_PORT"),
        database=os.getenv("DB_NAME"),
        username=os.getenv("DB_USER"),
        password=os.getenv("DB_PASS"),
    )

    return create_engine(url)

In [8]:
def fetch_sanctions():
    engine = get_engine()
    return pd.read_sql("SELECT * FROM ofac_consolidated", con=engine)

fetch_sanctions()

,ent_num,sdn_name,sdn_type,program,title,call_sign,vess_type,tonnage,grt,vess_flag,...,add_num,address,complete_address,country,add_remarks,alt_num,alt_type,alt_name,alt_remarks,cleaned_name
0,36,AEROCARIBBEAN AIRLINES,None,CUBA,None,None,None,None,None,None,...,25,None,Havana,Cuba,None,12.0,aka,AERO-CARIBBEAN,None,AEROCARIBBEAN AIRLINES
1,173,"ANGLO-CARIBBEAN CO., LTD.",None,CUBA,None,None,None,None,None,None,...,129,"Ibex House, The Minories",London EC3N 1DY,United Kingdom,None,57.0,aka,AVIA IMPORT,None,ANGLO CARIBBEAN CO LTD
2,306,BANCO NACIONAL DE CUBA,None,CUBA,None,None,None,None,None,None,...,202,Federico Boyd Avenue & 51 Street,Panama City,Panama,None,220.0,aka,NATIONAL BANK OF CUBA,None,BANCO NACIONAL DE CUBA
3,306,BANCO NACIONAL DE CUBA,None,CUBA,None,None,None,None,None,None,...,200,Avenida de Concha Espina 8,Madrid E-28036,Spain,None,220.0,aka,NATIONAL BANK OF CUBA,None,BANCO NACIONAL DE CUBA
4,306,BANCO NACIONAL DE CUBA,None,CUBA,None,None,None,None,None,None,...,201,"Dai-Ichi Bldg. 6th Floor, 10-2 Nihombashi, 2-c...",Tokyo 103,Japan,None,220.0,aka,NATIONAL BANK OF CUBA,None,BANCO NACIONAL DE CUBA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49334,54048,VROOM MARINE VENTURE FZE,None,IRAN-EO13846,None,None,None,None,None,None,...,82484,"X2-49, SAIF Suite, al-Dhaid Road, SAIF Zone",Sharjah,United Arab Emirates,None,84168.0,aka,VROOM MARINE VENTURES FZE,None,VROOM MARINE VENTURE FZE
49335,54049,KEYHAN SANJESH AZMA TECHNICAL QUANTITY AND QUA...,None,IRAN-EO13846,None,None,None,None,None,None,...,82486,"Unit 3, No. 4, Arang Alley, Azodi St., Valiasr...",Tehran 1598753313,Iran,None,84206.0,aka,KEYHAN SANJESH AZMA TECHNICAL QUANTITY & QUALI...,None,KEYHAN SANJESH AZMA TECHNICAL QUANTITY AND QUA...
49336,54049,KEYHAN SANJESH AZMA TECHNICAL QUANTITY AND QUA...,None,IRAN-EO13846,None,None,None,None,None,None,...,82486,"Unit 3, No. 4, Arang Alley, Azodi St., Valiasr...",Tehran 1598753313,Iran,None,84209.0,aka,KEYHAN SANJESH AZMA,None,KEYHAN SANJESH AZMA TECHNICAL QUANTITY AND QUA...
49337,54049,KEYHAN SANJESH AZMA TECHNICAL QUANTITY AND QUA...,None,IRAN-EO13846,None,None,None,None,None,None,...,82486,"Unit 3, No. 4, Arang Alley, Azodi St., Valiasr...",Tehran 1598753313,Iran,None,84218.0,aka,KEYHAN SANJESH AZMA TECHNICAL QUANTITY & QUALI...,None,KEYHAN SANJESH AZMA TECHNICAL QUANTITY AND QUA...
49338,54050,ELOISE,vessel,IRAN-EO13846,None,TRAD8,Crude Oil Tanker,None,None,Gabon,...,82487,None,None,None,None,NaN,None,None,None,ELOISE